<div class="layui-logo">
    <a href="javascript:;">
        <img src="/img/logo-new.png" class="layui-nav-img">
    </a>
    自贡世界地质公园管理后台
</div>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
        <a href="javascript:;">
            <img src="/img/head.jpg" class="layui-nav-img">
            <span>{{nickname}}</span>
        </a>
        <dl class="layui-nav-child">
            <dd>
                <a id="logout">退出</a>
            </dd>
            <dd lay-unselect>
                <a id="setPassword">修改密码</a>
            </dd>
        </dl>
    </li>
</ul>