<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>地址公园管理后台</title>
    <script type="text/javascript" src="/view/layout/css.js"></script>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <script type="text/javascript" src="/view/layout/header.js"></script>
    <script type="text/javascript" src="/view/layout/side.js"></script>

    <div class="layui-body">
        <div style="padding: 15px;">

            <div class="layui-card-header">
                <h2 class="header-title">公园管理</h2>
            </div>

            <hr class="layui-bg-gray">
            <div class="layui-form">

                <form id="searchForm" onsubmit="return false;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">公园名称</label>
                            <div class="layui-input-inline">
                                <input name="taskName" class="layui-input search-input" type="text" placeholder="请输入名称" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">公园状态</label>
                            <div class="layui-input-inline">
                                <select name="status" lay-verify="" placeholder="请选择状态">
                                    <option value="">请选择状态</option>
                                    <option value="1">公园未开始</option>
                                    <option value="2">公园进行中</option>
                                    <option value="3">公园完成</option>
                                    <option value="4">公园失败</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="startTime" name="startTime" class="layui-input laydate" placeholder="请选择时间" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">结束时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="endTime" name="endTime" class="layui-input laydate" placeholder="请选择时间" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button id="searchButton" class="layui-btn icon-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <table class="" id="table" lay-filter="tableFilter"></table>

            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon"></i>添加</a>
            </script>

            <script type="text/html" id="bar">
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon"></i>删除</a>
            </script>

        </div>
    </div>
    <script type="text/javascript" src="/view/layout/footer.js"></script>
</div>
<script type="text/javascript" src="/view/layout/scripts.js"></script>
<script type="text/javascript" src="/js/task/index.js"></script>

<script type="text/html" id="form-model">
    <div class="layui-tab-content">
        <form id="form" lay-filter="formFilter" class="layui-form model-form ">
            <input type="hidden" id="id" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">公园名称</label>
                <div class="layui-input-block">
                    <input type="text" name="taskName" lay-verify="required|nameLength" lay-verType="tips" placeholder="公园名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">公园描述</label>
                <div class="layui-input-block">
                    <textarea name="taskDesc" lay-verify="required|descrLength" placeholder="公园描述" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">公园状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="公园未开始" checked/>
                    <input type="radio" name="status" value="2" title="公园进行中"/>
                    <input type="radio" name="status" value="3" title="公园完成"/>
                    <input type="radio" name="status" value="4" title="公园失败"/>
                </div>
            </div>
            <div class="layui-form-item layui-layer-btn">
                <button class="layui-btn layui-btn-sm" lay-filter="formSubmit" lay-submit>保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary close" type="button">取消</button>
            </div>
        </form>
    </div>
</script>

</body>
</html>