<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>地质角色管理后台--角色管理</title>
    <script type="text/javascript" src="/views/base/css.js"></script>
    <link rel="stylesheet" href="/css/metroStyle/metroStyle.css"/>

</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div class="layui-header" p-com="header"></div>

    <div class="layui-side layui-bg-black" p-com="side"></div>

    <div class="layui-body">
        <div style="padding: 15px;">

            <div class="layui-card-header">
                <h2 class="header-title">角色管理</h2>
            </div>

            <hr class="layui-bg-gray">
            <div class="layui-form">

                <form id="searchForm" onsubmit="return false;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">角色名称</label>
                            <div class="layui-input-inline">
                                <input name="roleName" class="layui-input search-input" type="text" placeholder="请输入名称" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button id="searchButton" class="layui-btn icon-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <table class="" id="table" lay-filter="tableFilter"></table>

            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon"></i>添加</a>
            </script>

            <script type="text/html" id="bar">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="resource"><i class="layui-icon layui-icon-auz"></i>授权</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon"></i>编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon"></i>删除</a>
            </script>

        </div>
    </div>

    <div class="layui-footer" p-com="footer"></div>


</div>

<script type="text/javascript" src="/views/base/scripts.js"></script>
<script type="text/javascript" src="/plugins/zTree_v3/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="/js/role/tree.js"></script>
<script type="text/javascript" src="/js/role/index.js"></script>

<script type="text/html" id="form-model">
    <div class="layui-tab-content">
        <form id="form" lay-filter="formFilter" class="layui-form model-form ">
            <input type="hidden" id="id" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="roleName" lay-verify="required" lay-verType="tips" maxlength="20" placeholder="角色名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="remark" placeholder="角色描述" class="layui-textarea" maxlength="200"></textarea>
                </div>
            </div>

            <div class="layui-form-item layui-layer-btn">
                <button class="layui-btn layui-btn-sm" lay-filter="formSubmit" lay-submit>保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary close" type="button">取消</button>
            </div>
        </form>
    </div>
</script>


<script type="text/html" id="menu-tree">
    <form id="tree-form" lay-filter="tree-form" class="layui-form model-form">
        <input name="roleId" type="hidden"/>
        <div class="content_wrap" style="padding:20px 100px 20px;overflow-y: auto">
            <div>
                <ul id="menuTreeData" class="ztree"></ul>
            </div>
        </div>
        <div class="layui-form-item layui-layer-btn">
            <button class="layui-btn layui-btn-sm" lay-filter="tree-form-submit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary close" type="button">取消</button>
        </div>
    </form>
</script>

</body>
</html>