<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>地质任务管理后台--任务管理</title>
    <script type="text/javascript" src="/views/base/css.js"></script>

</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div class="layui-header" p-com="header"></div>

    <div class="layui-side layui-bg-black" p-com="side"></div>

    <div class="layui-body">
        <div style="padding: 15px;">

            <div class="layui-card-header">
                <h2 class="header-title">任务管理</h2>
            </div>

            <hr class="layui-bg-gray">
            <div class="layui-form">

                <form id="searchForm" onsubmit="return false;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">任务名称</label>
                            <div class="layui-input-inline">
                                <input name="taskName" class="layui-input search-input" type="text" placeholder="请输入任务名称" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">任务状态</label>
                            <div class="layui-input-inline">
                                <select name="status" lay-verify="" placeholder="请选择状态">
                                    <option value="">请选择状态</option>
                                    <option value="1">任务未开始</option>
                                    <option value="2">任务进行中</option>
                                    <option value="3">任务完成</option>
                                    <option value="4">任务失败</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="startTime" name="startTime" class="layui-input laydate" placeholder="请选择时间" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-labelLeft">结束时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="endTime" name="endTime" class="layui-input laydate" placeholder="请选择时间" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button id="searchButton" class="layui-btn icon-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <table class="" id="table" lay-filter="tableFilter"></table>

            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon"></i>添加</a>
            </script>

            <script type="text/html" id="bar">
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon"></i>删除</a>
            </script>

        </div>
    </div>

    <div class="layui-footer" p-com="footer"></div>

</div>

<script type="text/javascript" src="/views/base/scripts.js"></script>
<script type="text/javascript" src="/js/task/index.js"></script>

<script type="text/html" id="form-model">
    <div class="layui-tab-content">
        <form id="form" lay-filter="formFilter" class="layui-form model-form ">
            <input type="hidden" id="id" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-block">
                    <input type="text" name="taskName" lay-verify="required|nameLength" lay-verType="tips" placeholder="任务名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">任务描述</label>
                <div class="layui-input-block">
                    <textarea name="taskDesc" lay-verify="required|descrLength" placeholder="任务描述" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">任务状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="任务未开始" checked/>
                    <input type="radio" name="status" value="2" title="任务进行中"/>
                    <input type="radio" name="status" value="3" title="任务完成"/>
                    <input type="radio" name="status" value="4" title="任务失败"/>
                </div>
            </div>
            <div class="layui-form-item layui-layer-btn">
                <button class="layui-btn layui-btn-sm" lay-filter="formSubmit" lay-submit>保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary close" type="button">取消</button>
            </div>
        </form>
    </div>
</script>

</body>
</html>