.upload-list {
    overflow: hidden;
}

.upload-list div {
    float: left;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.upload-list div img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.upload-list div span {
    text-align: center;
    cursor: pointer;
}